* {
    margin: 0;
    padding: 0;
}

.logo img {
  margin-left: 12px;
  height: 70px; 
  width: 80px;
}
.menu-toggle {   /* هاي لحتى نخفي زر التوجيل الأساسي يعني قائمة التشيكبوكس */
  display: none;
}
.menu-toggle-l{
  display: none;
  cursor: pointer;
  font-size: 26px;
  color: #f3f2f2;
}

 .my-navbar {
  display: flex;
  position: absolute;  /*  هون اخترنا أبسليوت عشان الناف بار تيجي فوق الخلفية*/
  width: 100%;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: transparent; 
  backdrop-filter: blur(5px);
}
.pages-link{
  gap: 20px;
}
.pages-link a{
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 12px;
}
.nav-icons i {
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
  transition: color 0.3s ease;
}
.nav-icons i:hover {
  color: #05ffea;
}
.hero-sec{
  background-image: url("../assets/images/bg-img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;

}
.hero{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.667);
  top: 0;
  bottom: 0;
  right:0;
  left: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-size: 3.4rem;
  margin-bottom: 20px;
  background: linear-gradient(90deg,  #ff9a9e, #fac4f3, #ffeded,  #5ce2eb, #4fea07, #f0f40a,#ec050d, #f30cd4);
  background-size: 200% 200%;
  background-clip: text;
  color: transparent;
  animation: gradientFlow 2s ease infinite;
  -webkit-animation: gradientFlow 2s ease infinite wave 3s ease-in-out infinite;
}

@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.hero p {
  font-size: 1.2rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 30px;
  text-shadow: 4px 5px 9px rgba(50, 8, 217, 0.92);
  backdrop-filter: blur(6px); 
}
.hero a {
  padding: 12px 28px;
  background-color: rgba(152, 4, 142, 0.623);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}
.hero a:hover {
  background:linear-gradient(90deg, rgb(23, 235, 217),#ff9a9e, #300449);
  transform: scale(1.05);
}
/* -------------------------------------- section 2 varites --------------------------------------------------------- */

.varieties-sec {
  padding: 60px 30px;
  text-align: center;
  background-color: #f9f9f9; 
}
.varieties-sec h2, .best-seller-sec h2, .trendy-sec h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  color: #222;
  margin-bottom: 12px;
}
.underline-h {
  width: 140px;
  height: 3px;
  background-color: #7d0808;
  margin: 20px auto 40px;
  border-radius: 3px;
}
.varieties-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
}
.container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
}
.container-item img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #00000079;
  transition: transform 0.3s ease;
}
.container-item img:hover {
  transform: scale(1.1);
  border: 3px solid #8412d1;
}
.container-item h6 {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #000000;
}
/* -----------------------------------best-seller-sec----------------------------------------- */
.best-seller-sec{
  text-align: center;
  padding: 35px 20px;
  background-image: url('../assets/images/bg-img/sec3-bg.jpg') ;
  background-size: cover;
}

.boxes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 29px;
  padding: 20px;
}
.box-items{
  width: 270px;
  height: 380px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.459);
  padding: 20px;
  transition: transform 0.3s ease;
}
.box-items:hover{
  transform: translateY(-8px);
}
.box-items img{
  width: 100%; 
  height: 280px;
  border-radius:6px;
}
.box-items h6{
  margin-top: 13px;
  font-size: 15px;
  font-weight: 500;
}
.box-items p{
  font-size: 15px;
  font-weight: 500;
  color: #c00000;
}

.Carousel-dots {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
.Carousel {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: #ccc; /* هاي عشان النقطة بالأساس بكون لونها أبيض متل الصفحة ف عشان تبين منعطيها هيك */
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.Carousel.active, .Carousel:hover {
  background-color: #8d0707;
}
/* ---------------------------------------------trendy-section -----------------------------------*/
.trendy-sec {
  text-align: center;
  background-color: #ffffff;
  position: relative;
}
.section-header{
  align-items: center;
  padding-top: 70px;
  margin-bottom: 30px;
}

.view-all-btn {
  position: absolute;
  right: 0px;
  margin: -40px 14px;
  padding: 6px 15px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #c00000;
  color: white;
  text-decoration: none;
  border-radius: 60px;
  transition: background-color 0.3s;
  transition: transform 0.3s ease;
}

.view-all-btn:hover {
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.2);
}
.video {
  width: 220px;
  max-height: 280px; 
  margin-bottom: -6px;
  overflow: hidden;
}
.dark-boxes{
  background: linear-gradient(45deg, #050404, #000000,#d3c0c0, #040202);
  color: #ffffff;
}

/* ---------------------------------------------sites-sec-------------------------------------------------- */
.sites-sec{
  position: relative;
  height: 100vh;
  background-image: url("../assets/images/bg-img/sec5-bg.jpeg");
  background-size: cover;
  background-position: center;
  margin-top: 40px;
}

.sites-container{
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #00000062;
  top: 0;
  bottom: 0;
  right:0;
  left: 0;
  width: 100%;
  padding: 50px 20px;
}
.sites-sec h2{
  color: #ffffff;
  font-weight: bold;
  text-shadow:4px 5px 9px rgba(133, 197, 22, 0.658);
  backdrop-filter: blur(5px);
  font-size: 2.5rem;
  font-family:serif;
  margin-bottom: 55px;
}
.site-btn{
  display: flex;
  justify-content: center;
  gap: 30px;
  transition: 0.3s;
}
.site-btn a{
  text-decoration: none;
  padding: 7px 10px;
  border-radius: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.btn-watsapp{
  background-color: #4fe60997;
  color: #ffffff;
  transition: all 0.4s ease;
}
.btn-insta{
  background-color: #0000009b;
  color: #ffffff;
  transition: all 0.4s ease;
}
.btn-watsapp:hover {
  transform: scale(1.1);
  background: linear-gradient(135deg, #34f1a9 0%, #25d33f 100%);
}
.btn-insta:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, #bc1888, #dc2743, #f09433);

}
/* ----------------------------------------------footer =--------------------------------------------*/
.footer {
  background-color: #030303ab;
  color: #fff;
  padding: 40px 20px;
}
.footer-container {
  display: flex;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  gap: 50px;
}
.about-us {
  max-width: 380px;
}
.about-us h3 {
  font-size: 26px;
  margin-bottom: 12px;
}
.contact-info {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.contact-info a {
  text-decoration: none;
  color: #ccc;
  font-size: 16px;
}
.contact-info a i {
  margin-right: 9px;
  color: #eeff00;
}
